
header {
    background-color: $color-blue;
    text-align: center;   
    h1 {
        color: $color-white;
        font-size: 20px;
        padding: 20px;

        @media screen and (min-width: 800px) {
                font-size: 40px;
            }
    }
}



main {
    margin: 10px;
}

.languages {
    color: $color-green;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid $color-grey;
    padding: 20px;

    .languages__toggle {
            padding: 20px;
            border: 2px solid $color-blue; 
            background-color: $color-green;
            color: $color-white;  
            border-radius: 20px;
            margin: 20px 0px;
    }

    .languages__toggle--hover:hover {
        background-color: $color-blue;
    }

    .languages__toggle--click:active {
        background-color: $color-white;
        color: $color-blue;
        font-weight: bold;
    }
}

.input {
    margin: 10px;
    padding: 40px 0px;
    border-bottom: 1px solid $color-grey;
    width: 100vw;

    h1 {
        color: $color-blue;
    }

    .input__block{

        .input__string {
            font-size: 14px;
            text-align: start;
            color: $color-green;
            border: 2px solid $color-green;
            border-radius: 20px;
            padding: 10px;
            outline: none;
            margin: 10px 0px;

            @media screen and (min-width: 800px) {
                font-size: 20px;
                padding: 20px;
                margin: 20px 0px;
            }
        }
    
        .input__translate {
            padding: 10px;
            border: 2px solid $color-blue; 
            background-color: $color-green;
            color: $color-white;  
            border-radius: 20px;
            margin: 10px 0px;
            @media screen and (min-width: 800px) {
                padding: 20px;
                margin: 20px 0px;
            }
        }

        .input__translate--hover:hover {
            background-color: $color-blue;
        }

        .input__translate--click:active {
            background-color: $color-white;
            color: $color-blue;
            font-weight: bold;
        }
    }  
}

.output {
    margin: 10px;
    padding: 40px 0px;
    width: 100vw;

    h1 {
        color: $color-blue;
    }

    .output__string{
            font-size: 14px;
            text-align: start;
            color: $color-green;
            border: 2px solid $color-green;
            border-radius: 20px;
            margin: 10px 0px;
            padding: 10px;
            outline: none;
            
            @media screen and (min-width: 800px) {
                font-size: 20px;
                padding: 20px;
                margin: 20px 0px;
            }
        
    }
}



// @media screen and (max-width: 800px) {
// }