@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Raleway&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 800px) {
  * {
    font-size: 24px;
  }
}

header {
  background-color: #284b63;
  text-align: center;
}
header h1 {
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}
@media screen and (min-width: 800px) {
  header h1 {
    font-size: 40px;
  }
}

main {
  margin: 10px;
}

.languages {
  color: #3c6e71;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
}
.languages .languages__toggle {
  padding: 20px;
  border: 2px solid #284b63;
  background-color: #3c6e71;
  color: #ffffff;
  border-radius: 20px;
  margin: 20px 0px;
}
.languages .languages__toggle--hover:hover {
  background-color: #284b63;
}
.languages .languages__toggle--click:active {
  background-color: #ffffff;
  color: #284b63;
  font-weight: bold;
}

.input {
  margin: 10px;
  padding: 40px 0px;
  border-bottom: 1px solid #d9d9d9;
  width: 100vw;
}
.input h1 {
  color: #284b63;
}
.input .input__block .input__string {
  font-size: 14px;
  text-align: start;
  color: #3c6e71;
  border: 2px solid #3c6e71;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  margin: 10px 0px;
}
@media screen and (min-width: 800px) {
  .input .input__block .input__string {
    font-size: 20px;
    padding: 20px;
    margin: 20px 0px;
  }
}
.input .input__block .input__translate {
  padding: 10px;
  border: 2px solid #284b63;
  background-color: #3c6e71;
  color: #ffffff;
  border-radius: 20px;
  margin: 10px 0px;
}
@media screen and (min-width: 800px) {
  .input .input__block .input__translate {
    padding: 20px;
    margin: 20px 0px;
  }
}
.input .input__block .input__translate--hover:hover {
  background-color: #284b63;
}
.input .input__block .input__translate--click:active {
  background-color: #ffffff;
  color: #284b63;
  font-weight: bold;
}

.output {
  margin: 10px;
  padding: 40px 0px;
  width: 100vw;
}
.output h1 {
  color: #284b63;
}
.output .output__string {
  font-size: 14px;
  text-align: start;
  color: #3c6e71;
  border: 2px solid #3c6e71;
  border-radius: 20px;
  margin: 10px 0px;
  padding: 10px;
  outline: none;
}
@media screen and (min-width: 800px) {
  .output .output__string {
    font-size: 20px;
    padding: 20px;
    margin: 20px 0px;
  }
}

header {
  width: 100vw;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .languages {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 3fr;
  gap: 20px;
  width: 100vw;
}
main .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .input .input__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 800px) {
  main {
    margin: 40px;
  }
}/*# sourceMappingURL=main.css.map */